snippet cg React Functional Component
	// ${1:ComponentName} component
	import React from 'react';

	const ${1:ComponentName} = (${2:props}) => {
	  return (
	    <div>
	      ${3:// Component code here}
	    </div>
	  );
	};

	export default ${1:ComponentName};
